<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Automation/AutomationProject">
        <classes>
            <class name="org.saucedemo.LoginPageTest">
                <methods>
                    <include name="InvalidUserNamewithInvalidPasswordloginTest"/>
                    <include name="InvalidUserNamewithvalidPasswordloginTest"/>
                    <include name="validUserNamewithInvalidPasswordloginTest"/>
                    <include name="validUserNamewithvalidPasswordloginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>